<h1>Songs' Index Page</h1><br>


<ul>
  <% @songs.each do |song| %>
    <li>

    <%= link_to song.artist_name, song_path(song)%> - <%= link_to song.title, song_path(song)%>
      <!--<a href="<%= song_path(song)%>">

          <%= song.artist_name %>
          -
    
          <%= song.title %>
      </a> -->
    </li>
  <% end %>
</ul>